extends layout

block content
  h1= title
  h2 submit your query here
  //form(action="/users/create", method="post")
    input(type="text", name="username")
    input(type="submit")

  div(class="flex-container1")
    a(class='waves-effect waves-light btn-large') All instructors
    a(class='waves-effect waves-light btn-large') All students
    a(class='waves-effect waves-light btn-large') All courses
    a(class='waves-effect waves-light btn-large') All books
    a(class='waves-effect waves-light btn-large') All y'all
    a(class='waves-effect waves-light btn-large') All day


  div(class="flex-container2")
    form(action="/users/department", method="post")
      div(class="input-field col s6")
        label(for="user_ID") Last Name
        input(type="text", name="user_ID")
        input(type="submit")

    form(action="/users/department", method="post")
      div(class="input-field col s6")
        label(for="user_ID") Last Name
        input(type="text", name="user_ID")
        input(type="submit")

    form(action="/users/department", method="post")
      div(class="input-field col s6")
        label(for="user_ID") Last Name
        input(type="text", name="user_ID")
        input(type="submit")

    form(action="/users/department", method="post")
      div(class="input-field col s6")
        label(for="user_ID") Last Name
        input(type="text", name="user_ID")
        input(type="submit")


